{% extends 'base.html' %}

{% load vote_filters %}
{% load filters %}

{% block title %}Well Hello{% endblock %}

{% block content %}
{% include 'navbar.html' %}

<div class="container" style="padding-top: 40px">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card border-0 " style="margin-top: 20px">
                <div class="card-body ">
                    <h5 class="card-title ">{{question.title}}</h5>
                    <p class="card-text text-secondary">Created by <span>{{question.author.username}}</span></p>
                    <span href="#" class="card-link text-primary" style="font-size: 12px">20 <span>Views</span></span>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="card-link" href="{% url 'votes:up_vote' question_id=question.pk %}">
                                <i class="fas fa-arrow-alt-circle-up"
                                   style="color: green; font-size: 25px; padding: 6px"></i>
                                {% with question_votes|get_up_votes:question as questionvotes %}
                                    <span class="card-link">{{questionvotes.count}} votes</span></a>
                                {% endwith %}
                            </a>
                            <span></span>
                            <a class="card-link" href="{% url 'votes:down_vote' question_id=question.pk %}">
                                <i class="fas fa-arrow-alt-circle-down"
                                   style="color: red; font-size: 25px; padding: 6px"></i>
                                {% with question_votes|get_down_votes:question as questionvotes %}
                                    <span class="card-link">{{questionvotes.count}} votes</span></a>
                                {% endwith %}
                            </a>
                             <span></span>
                            <i class="fas fa-pen-square"
                               style="color: blue; font-size: 25px; padding: 6px"></i>
                            <span href="#" class="card-link">{{answer_list.count}} Answers</span></span>
                        </div>
                        <div>
                            <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                               aria-controls="collapseExample" class="card-link">
                                <i class="fas fa-comments"
                                   style="color: lightskyblue; font-size: 25px; padding: 6px"></i>
                                <span class="card-link">{{question_comments.count}} comments</span></a>
                            <i class="fas fa-pen-square"
                               style="color: blue; font-size: 25px; padding: 6px"></i>
                            <span></span>
                            <a data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
                               aria-controls="collapseExample1" class="card-link"><span class="card-link">Answer</span></a>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample" style="padding-top: 20px">
                        <form method='POST'>
                            <div class="form-group">
                                {% csrf_token %}
                                {{comment_form.as_p}}
                            </div>
                            <button type="submit" class="btn btn-danger">Comment</button>
                        </form>
                        <h4 class="text-secondary" style="padding-top: 20px">Comments</h4>
                        {% for question_comment in question_comments %}
                        <hr>

                        <div class="card border-0 rounded" style="margin-top: 20px">
                            <div class="card-body ">
                                <p class="card-title ">{{question_comment.comment}}</p>
                                <span class="card-link text-primary" style="font-size: 12px">Commented on <span
                                        class="card-link text-secondary">{{question_comment.created_at}}</span></span>
                                <p class="card-text text-dark">By {{question_comment.author.username}}</p>
                            </div>
                        </div>
                        {% empty %}
                        <div class="text-danger">No answers yet.</div>
                        {% endfor %}
                    </div>
                    <div class="collapse" id="collapseExample1" style="padding-top: 20px">
                        <form method='POST'>
                            <div class="form-group">
                                {% csrf_token %}
                                {{answer_form.as_p}}
                            </div>
                            <button type="submit" class="btn btn-danger">Answer</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container" style="background-color: white; margin-top: 20px">
                <h4 class="text-secondary" style="padding-top: 20px">All answers</h4>
                {% for answer in answer_list %}
                <hr>
                <div class="card border-0 rounded" style="margin-top: 20px">
                    <div class="card-body ">
                        <p class="card-text text-dark">{{answer.author.username}}</p>
                        <span class="card-link text-primary" style="font-size: 12px">Answered on <span
                                class="card-link text-secondary">{{answer.created_at}}</span></span>
                        <p class="card-title ">{{answer.title}}</p>
                        <div class="d-flex justify-content-between">
                            <div>
                            </div>
                            <div>
                                <a data-toggle="collapse" href="#collapseExample{{answer.id}}" role="button"
                                   aria-expanded="false"
                                   aria-controls="collapseExample" class="card-link">
                                    <i class="fas fa-comments"
                                       style="color: lightskyblue; font-size: 25px; padding: 6px"></i>
                                    {% with answer_comments|get_answer_comments:answer as answercomments %}
                                    <span class="card-link">{{answercomments.count}} comments</span></a>
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample{{answer.id}}" style="padding-top: 20px">
                        <form method='POST'
                              action="{% url 'answers:answer_detail' question_id=question.pk answer_id=answer.id %}">
                            <div class="form-group">
                                {% csrf_token %}
                                {{answer_comment_form.as_p}}
                            </div>
                            <button type="submit" class="btn btn-danger">Comment</button>
                        </form>
                        <h4 class="text-secondary" style="padding-top: 20px">Comments</h4>
                        {% for answer_comment in answer_comments|get_answer_comments:answer %}
                        <hr>

                        <div class="card border-0 rounded" style="margin-top: 20px">
                            <div class="card-body ">
                                <p class="card-title ">{{answer_comment.comment}}</p>
                                <span class="card-link text-primary" style="font-size: 12px">Commented on <span
                                        class="card-link text-secondary">{{answer_comment.created_at}}</span></span>
                                <p class="card-text text-dark">By {{answer_comment.author.username}}</p>
                            </div>
                        </div>
                        {% empty %}
                        <div class="text-danger">No Comments yet.</div>
                        {% endfor %}
                    </div>
                </div>
                {% empty %}
                <div class="text-danger">No answers yet.</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-2"></div>
    </div>

</div>
{% endblock %}